<div *ngIf="isLoading; then loading else noLoading"></div>
<ng-template #loading>
    <div class="centered">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-template #noLoading>
    <div *ngIf="mode == 'active'">
        <h1>Active Queues</h1>
    </div>
    <div *ngIf="mode != 'active'">
        <h1>Inactive Queues</h1>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <!-- Position Column -->
    
        <div class="column">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        </div>
    
        <div class="column">
            <ng-container matColumnDef="subjectInstanceName">
                <th mat-header-cell *matHeaderCellDef>Subject Instance Name</th>
                <td mat-cell *matCellDef="let element"> {{element.subjectInstanceName}} </td>
            </ng-container>
        </div>
    
        <!-- Name Column -->
        <div class="column">
            <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef> Start Time </th>
                <td mat-cell *matCellDef="let element"> {{element.startTime | date: 'dd.MM.yyyy h:mm a'}} </td>
            </ng-container>
        </div>
    
        <!-- Weight Column -->
        <div class="column">
            <ng-container matColumnDef="peopleIn">
                <th mat-header-cell *matHeaderCellDef>People In</th>
                <td mat-cell *matCellDef="let element"> {{element.peopleIn}} </td>
            </ng-container>
        </div>
    
        <!-- Symbol Column -->
        <div class="column">
            <ng-container matColumnDef="currentUserPosition">
                <th mat-header-cell *matHeaderCellDef>Your Position</th>
                <td mat-cell *matCellDef="let element"> {{element.currentUserPosition == -1 ? '-': element.currentUserPosition}} </td>
            </ng-container>
        </div>

        <div class="column">
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="showDeactivate">
                        <button mat-raised-button color="primary" class="eq-buttons" (click)="deactivateQueue(element,$event)">Deactivate</button>
                    </div>
                    <div *ngIf="!showDeactivate">
                        <button mat-raised-button color="primary" class="eq-buttons" (click)="activateQueue(element,$event)">Activate</button>
                    </div>
                </td>
            </ng-container>
        </div>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getQueue(row)"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    </table>
    <div class="eq-buttons" *ngIf="mode == 'active'">
        <button mat-raised-button color="primary" class="eq-button" (click)="addQueue()">+ Add Queue</button>
    </div>
</ng-template>