table {
    width: 100%;
}

.column {
    width: 100%;
}

.centered 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eq-buttons
{
    margin: 5px 5px 5px 5px;
}

.mat-form-field{
    width:350px !important;
}
