<div *ngIf="isAdd; then adding else editing"></div>
<ng-template #adding><h3>Add Teacher</h3></ng-template>
<ng-template #editing><h3>Update Teacher</h3></ng-template>
<form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input id="first-name" type="text" formControlName="firstName" matInput required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input id="last-name" type="text" formControlName="lastName" matInput required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Middle Name</mat-label>
            <input id="middle-name" type="text" formControlName="middleName" matInput>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea id="description" type="text" formControlName="description" matInput></textarea>
        </mat-form-field>   
    </div>
</form>

<div>
    <button mat-raised-button color="primary" [disabled]="!fg.valid" class="eq-button" (click)="onSubmit()">Save</button>
    <button mat-raised-button color="primary" class="eq-button" (click)="onCancel()">Cancel</button>
</div>