<div *ngIf="isLoading; then loading else noLoading"></div>
<ng-template #loading>
    <div class="centered">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-template #noLoading>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Subject #{{subject!.id}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <br>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput readonly value="{{subject?.name}}">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <input matInput readonly value="{{subject?.description}}">
                </mat-form-field>
            </div>
        </mat-card-content>
        <ng-container *ngIf="isAdmin()">
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onEditClick()">Edit</button>
            </mat-card-actions>
        </ng-container>
    </mat-card>
    <br>
    <view-subject-instances [dataSource]="dataSource"></view-subject-instances>
    <ng-container *ngIf="isAdmin()">
        <button mat-raised-button color="primary" class="eq-button" (click)="addSubjectInstance()">+ Add Subject Instance</button>
    </ng-container>
</ng-template>
