<div *ngIf="isLoading; then loading else noLoading"></div>
<ng-template #loading>
    <div class="centered">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-template #noLoading>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add Subject Instance</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <br/>
            <form [formGroup]="fg" (ngSubmit)="onSubmit()">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Instance Name</mat-label>
                        <input type="text" formControlName="instanceName" matInput required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Subject</mat-label>
                        <mat-select [(value)]="selectedSubjectId" formControlName="subjectId" required>
                          <mat-option></mat-option>
                          <mat-option [value]="option.id" *ngFor="let option of subjects">{{ option.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Teachers</mat-label>
                        <mat-select formControlName="teacherIds" [(value)]="selectedTeacherIds" multiple required>
                          <!-- <mat-select-trigger>
                            {{toppings.value?.[0] || ''}}
                            <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
                              (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger> -->
                          <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">{{teacher.firstName}} {{teacher.lastName}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="description" type="text" formControlName="description" matInput></textarea>
                    </mat-form-field>   
                </div>
            </form>
            <div>
                <button mat-raised-button color="primary" [disabled]="!fg.valid" class="eq-button" (click)="onSubmit()">Save</button>
                <button mat-raised-button color="primary" class="eq-button" (click)="onCancel()">Cancel</button>
            </div>
        </mat-card-content>
    </mat-card>  
</ng-template>