@model Rey.EQueue.Web.Models.LoginViewModel
<h2>Sign in</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label><br />
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label><br />
        <input asp-for="Password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <span>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </span>
        <span>
            <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-primary">Sign up</a>
        </span>
    </div>
</form>