<div *ngIf="isLoading; then loading else noLoading"></div>
<ng-template #loading>
    <div class="centered">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
<ng-template #noLoading>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Subject Instance #{{subjectInstance?.id}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <br />
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Instance Name</mat-label>
                    <input matInput readonly value="{{getStringData(subjectInstance?.instanceName)}}">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Subject Name</mat-label>
                    <input matInput readonly value="{{getStringData(subjectInstance?.subjectName)}}">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Instance Description</mat-label>
                    <input matInput readonly value="{{getStringData(subjectInstance?.instanceDescription)}}">
                </mat-form-field>
            </div>
            <div *ngIf="isAdmin()">
                <button mat-raised-button color="primary" class="eq-button">Edit</button>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Teachers</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <br>
            <table mat-table [dataSource]="subjectInstance.teachers" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
                <!-- Position Column -->
        
                <div class="column">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>Id</th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                </div>
        
                <div class="column">
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef>First Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                    </ng-container>
                </div>
        
                <!-- Name Column -->
                <div class="column">
                    <ng-container matColumnDef="middleName">
                        <th mat-header-cell *matHeaderCellDef> Middle Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
                    </ng-container>
                </div>
        
                <!-- Weight Column -->
                <div class="column">
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef>Last Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                    </ng-container>
                </div>
        
                <!-- Symbol Column -->
                <div class="column">
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef="let element"> {{getStringData(element.description)}} </td>
                    </ng-container>
                </div>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
    
    <br>
    <div *ngIf="subjectInstance?.timetable && !showAddTimetableBlock">
        <app-view-timetable [timetable]="subjectInstance?.timetable!"></app-view-timetable>
    </div>
    <div *ngIf="showAddTimetableBlock">
        <app-add-timetable (newTimetableEvent)="onAddTimetable($event)" (onNewTimetableCancel)="onCancelAddNewTimetable()"></app-add-timetable>
    </div>
    <br>
    <div *ngIf="isAdmin()">
        <button mat-raised-button color="primary" class="eq-buttons approve-button" (click)="onAddNewTimetableClicked()">+ Apply New Timetable</button>
    </div>
    <br>
</ng-template>