<mat-card>
    <mat-card-header>
        <mat-card-title>Subject Instances</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <br>
        <table mat-table [dataSource]="dataSource" *ngIf="hasData; else noData" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
            <!-- Position Column -->
        
            <div class="column">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Id</th>
                    <td mat-cell *matCellDef="let element"> {{element?.id}} </td>
                </ng-container>
            </div>
        
            <div class="column">
                <ng-container matColumnDef="instanceName">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element?.instanceName}} </td>
                </ng-container>
            </div>
        
            <!-- Name Column -->
            <div class="column">
                <ng-container matColumnDef="timetable">
                    <th mat-header-cell *matHeaderCellDef>Timetable</th>
                    <td mat-cell *matCellDef="let element"> 
                        <div *ngFor="let class of element.classes" class="eq-timetable">
                            {{class.dayOfWeek}} at {{getDateFormatted(class.startTime)}} ({{class.duration}} min)
                        </div>
                    </td>
                </ng-container>
            </div>
        
            <!-- Weight Column -->
            <div class="column">
                <ng-container matColumnDef="instanceDescription">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element"> {{getStringData(element?.instanceDescription)}} </td>
                </ng-container>
            </div>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "getSubjectInstance(row)"></tr>
        </table>
        <ng-template #noData>
            <div>
                No data found.
            </div>
        </ng-template>
    </mat-card-content>
</mat-card>