table {
    width: 100%;
}

.column {
    width: 100%;
}

.eq-buttons
{
    margin: 5px 5px 5px 5px;
}

.eq-timetable
{
    margin: 5px 5px 5px 5px;
}

.selected-row
{
    background-color: blueviolet;
}

.mat-column-position {
    width: 10%;
}

.mat-column-studentFirstName {
    width: 25%;
}

.mat-column-studentLastName {
    width: 25%;
}

.mat-column-created {
    width: 20%;
}

.mat-column-actions {
    width: 20%;
}